:root {
    --darkBlue:#2d314d;
    --limeGreen:#31d35c;
    --brightCyan:#2bb7da;

    --grayishBlue:#9698a6;
    --lightGrayishBlue:#f3f4f6;
    --veryLightGray:#fafafa;
    --white:#fff;

    --ff:'Public Sans', sans-serif;

    --padding-mobile:20px;
    --padding-portatil:20px 50px;

    --paddingSections:75px 0;

}



