@use 'custom';

.footer {
    background-color: var(--darkBlue);
}

.footerContainer {
    padding: 20px 0;
    max-width: 1400px;
    margin: 0 auto;
    @media screen and (min-width:1024px){
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--padding-portatil);
    }
}

.footerContent {
    text-align: center;

    @media screen and (min-width:1024px){
        display: flex;
        text-align: left;
        gap: 100px;
    }
}
.footerContentHeader {
    display: grid;
    gap: 50px;

    @media screen and (min-width:1024px) {
        gap: 0;
        align-items: center;
    }
}

.footerContentHeader__img {
    margin: 0 auto;

    @media screen and (min-width:1024px){
        margin: initial;
    }
}

.footerContentHeaderList {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    list-style: none;
    padding-left: 0;

    &__item {
        list-style: none;
    }
    
    &__link {
        margin-right: 15px;
    }

    &__img {
        width: 25px;
        height: 25px;
    }
}

.footerContentLinkList {
    list-style-type: none;
    padding-left: 0;
    margin: 50px;

    @media screen and (min-width:1024px){
        display: flex;
    }

    &__item {
        margin-top: 15px;
        @media screen and (min-width:1024px){
            margin-top: 10px;
            margin-right: 100px;
        }
    }

    &__link {
        text-decoration: none;
        color: var(--white);
    }
}

.footerCopyright {
    text-align: center;

    @media screen and (min-width:1024px){
        text-align: right;
    }

    &__link {
        width: max-content;
        margin-bottom: 50px;
    }

    &__span {
        display: block;
        margin-top: 50px;
        color: var(--white);

        @media screen and (min-width:1024px){
            text-align: left;
        }
    }
}