@use 'custom';

.footer {
    background-color: var(--darkBlue);
}

.footerContainer {
    padding: 20px 0;
    max-width: 1400px;
    margin: 0 auto;
    @media screen and (min-width:1024px){
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--padding-portatil);
    }
}

.footerContent {
    align-items: center;
    @media screen and (min-width:1024px){
        display: flex;
        text-align: left;
        gap: 100px;
    }
}

.footerContentHeader {
    @media screen and (min-width:1024px) {
        align-items: center;
    }
}

.footerContentHeader__img {
        margin: 0 auto;
        display: block;
        margin-bottom: 25px;
    @media screen and (min-width:1024px){
        margin: initial;
    }
}

.footerContentHeaderList {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    @media screen and (min-width:1024px){
        justify-content: flex-start;
        margin-left: -15px;
    }
 
    &__img {
        margin-left: 15px;
        width: 25px;
        height: 25px;
    }
}

.footerContentLinkList {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    margin-bottom: 50px;

    @media screen and (min-width:1024px){
        display: flex;
        text-align: left;
    }

    &__item {
        margin-top: 15px;
        @media screen and (min-width:1024px){
            margin-right: 100px;
        }
    }

    &__link {
        text-decoration: none;
        color: var(--white);
        transition: .5s color;
        font-size: 14px;

        &:hover {
            color: #31d35c;
        }
    }
}

.footerCopyright {
    text-align: center;

    @media screen and (min-width:1024px){
        text-align: right;
    }

    &__link {
        width: max-content;
    }

    &__span {
        display: block;
        margin-top: 50px;
        color: var(--white);
        font-size: 14px;
        @media screen and (min-width:1024px){
            text-align: left;
        }
    }
}