@use 'custom';
@use 'header';
@use 'footer';

$headerheight:64.69px;

* , ::before , ::after {
    box-sizing: border-box;
}

h4 {
    color:var(--darkBlue);
}

body {
    font-size: 18px;
    font-family:var(--ff);
    background-color: var(--veryLightGray);
}

img {
    max-width: 100%;
}

.paragraph {
    line-height: 1.5;
    color:var(--grayishBlue);
}

.subtitle {
    color:var(--darkBlue);
}

.subsubtitle {
    color:var(--darkBlue);
}

.main {
    padding: var(--padding-mobile);

    @media screen and (min-width:1024px) {
        padding: var(--padding-portatil);
        max-width: 1200px;
        margin: 0 auto;
    }
}

.hero {
    display: grid;
    grid-template-areas: 
    "heroImg__img"
    "heroContent";

    @media screen and (min-width:1024px){
        grid-template-columns: 50% 50%;
        grid-template-areas: "heroContent heroImg__img" ;
        align-items: center;
        gap: 50px;
    }
}

.heroImg__img {
    display: block;
    margin: 0 auto;
    grid-area: heroImg__img;
}

.heroContent {
    display: flex;
    flex-direction: column;
    gap: 25px;
    grid-area: heroContent;
    text-align: center;
    &__title {
        font-size: 45px;
        color: var(--darkBlue);
        font-weight: 300;
        margin: 0;

        @media screen and (min-width:1024px){
            width: 80%;
        }
    }

    &__paragraph {
        margin: 0;

        @media screen and (min-width:1024px){
            width: 85%;
        }
    }

    &__link {
        width: max-content;
        margin: 0 auto;

        @media screen and (min-width:1024px){
            margin: initial;
        }
    }

    @media screen and (min-width:1024px) {
        text-align: left;
    }
}

.information {
    padding: 35px 0;
    text-align: center;

    @media screen and (min-width:1024px){
        text-align: left;

        &__paragraph {
            width: 60%;
        }
    }
}

.informationContent {
    display: grid;
    gap: 25px;
    margin-top: 75px;

    @media screen and (min-width:1024px){
        display: flex;
        text-align: left;
    }
}

.articles {
    &__title {
        text-align: center;

        @media screen and (min-width:1024px) {
            text-align: left;
        }
    }
}

.articlesContent {
    display: grid;
    gap: 50px;

    @media screen and (min-width:1024px) {
        display: flex;
        gap: 25px;
    }
}

.articlesContentBox{
    border-radius: 5px;
    background-color: var(--white);
    &__span {
        font-size: 12px;
        color: var(--grayishBlue);
    }

    &__paragraph {
        font-size: 14px;
    }
}

.articlesContentBox__img {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.articlesContentBox__div {
    padding: 15px 20px;
}




